.tasks{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
}

.tasks__main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 30px);
}

.tasks__container {
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 15px 40px #a7eaff;
}

.tasks__form__container {
  height: 120px;
  width: 500px;
  background: linear-gradient(to right, #1de9ff, #3eceff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tasks__form {
    height: 100px;
    width: 100%;
    display:flex;
    align-items: center;
}
.tasks__filters{
    height: 20px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.tasks__filters__link{
    color: #f0fcff;
    text-decoration: none;
    font-weight: 300;
    padding: 0px 15px;
}

.tasks__form__input {
  background: none;
  color: #f0fcff;
  margin: auto;
  border: none;
  border-bottom: 1px solid rgba(240, 252, 255, 0.7);
  font-size: 25px;
  font-weight: 300;
  font-family: inherit;
  padding: 0px 20px;
}

.tasks__form__input::placeholder {
  color: #f0fcff;
  font-weight: 100;
}

.tasks__list__container {
  height: 380px;
  background: #f0fcff;
  width: 500px;
  overflow: auto;
}

.slide-enter {
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.3s;
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit {
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.3s;
}



@media(max-width: 520px){

  .tasks__container{
    height: calc(100vh - 60px);
    min-height: 350px;
  }

  .tasks__form{
    width: 90%;
  }

  .tasks__form__container{
    width: 300px;
  }

  .tasks__list__container {
    width: 300px;
    height: calc(100% - 120px);
  }

  .tasks__form__input {
    width: 100%;
    font-size: 22px;
  }
}