.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.email__controls {
  width: 300px;
}

.email__controls__button {
  width: 50%;
  height: 40px;
  background: #f0fcff;
  color: #6a6767;
  border: none;
  cursor: pointer;
}

.email__controls__button--active {
  width: 50%;
  height: 40px;
  border: none;
  cursor: pointer;
  background: #0abbf7;
  color: #f0fcff;
}

.email__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.email__form__input {
  background: none;
  border: 1px solid rgba(240, 252, 255, 0.5);
  color: #f0fcff;
  width: 300px;
  margin-top: 20px;
  padding-left: 10px;
  box-sizing: border-box;
  height: 30px;
  transition: 0.3s;
  -webkit-appearance: none;
  border-radius: 0;
}

.email__form__input:focus{
  transform: scale(1.05);
}

.email__form__input::placeholder {
  color: #f0fcff;
}

.email__form__button {
    width: 300px;
    height: 30px;
    border: none;
    margin-top: 20px;
    background: #0abbf7;
    cursor: pointer;
    color: #f0fcff;
    transition: 0.2s;
}

.email__form__button:hover {
  transform: scale(1.05);
}

@media(max-width: 520px){
  .email__form__button:hover {
    transform: none;
  }

  .email__form__input:focus{
    transform: none;
  }
}
