.App{
  min-height: 100vh;
  width: 100%;
  background: #DCF6FF
}

/*
light blue 1: #F0FCFF
light blue 1: #DCF6FF
light blue 2: #A7EAFF 
light blue 3: #1DE9FF 
light blue 4: #3ECEFF
grey 1: #D1D0D0
grey 2: #6A6767


*/